body{
     margin-left:auto;
     margin-right:auto;
     text-align:center;
  }
  .loginbody{
     height:500px;
     width:80%;
     margin-left:auto;
     margin-right:auto;
     margin-top:5%;
     border: 1px solid #CCCCCC; 
     text-align:center;
  }
  .logincenter{
     height:100%;
     width:70%;
     margin-left:auto;
     margin-right:auto;
     text-align:center;
     margin-top:5%;
  }
  .logintop{
     height:72px;
  }
  .logintext{
     height:50%;
     width:70%;
     margin-left:auto;
     margin-right:auto;
     text-align:center;
     margin-top:1%;
     border: 1px solid #CCCCCC;
  }
  .loginlogo{
     margin-left:15%;
     float:left;
     heiget:100%;
  }
  .loginhtgl{ 
      heiget:100%;
      float:left;
      font-size:30px;;
      font-weight:bold;
      padding-top:40px;;
  }
  .copyright{
     margin-top:10%;
     font-size:12px;
  }
  .usernamediv{
      margin-top:10%;
      height:30px;
  }
  .textwz{
      font-size:12px;
      float:left; 
      margin-left:20%;
      width:50px;
      margin-top:4px;
  } 
  .clearance{
     
     float:left;padding-left:15px;
  }
  .inputsr{
     float:left;
     
  }
  .exchange{
    font-size:12px;
    margin-left:10px;
    height:30px;float:left;
    margin-top:5px;
  }
  .loginbutton{
    float:left;
    margin-left:20%;
    margin-right:20px;
  }
  .imgdiv{
    float:left;
    margin-left:5px;
  }
  .imgdiv2{
    float:left; 
    margin-left:0px;
  }
  .pwddiv{
     margin-top:10px; 
     height:30px;
  }